<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Trading Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" a [routerLink]="[ '/trade-history' ]">Trade History </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/tickers' ]" >
          My Tickers
        </a>
      </li>
    </ul>
    
  </div>
</nav>


 <router-outlet></router-outlet>
 