<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<article >
 <!-- <ul>
    <li *ngFor="let record of result" > {{record.ticker}} </li>

     <li *ngFor="let record of data['price_data']">
        {{ record['date'] |date:'dd-MM-yyyy'}}
        {{ record['price'] | currency:'EUR' }}</li> 
</ul>  -->

<article>



<article class="Jumbotron">
<table class="table table-striped">
    <thead class="thead-dark">

    <tr>
        <th>ID</th>
        <th>Ticker</th>
        <th>Date</th>
        <th>State</th>
        <th>Amount</th>
        <th>Requested Price</th>
        <th>Type</th>
          
    </tr>
    </thead>

    <tr *ngFor="let record of result" >
        <td>
            {{record.id}}
        </td>
        <td>
            {{record.ticker}}
        </td>
        <td>
            {{record.created}}
        </td>
        <td>
            {{record.state}}
        </td>
        <td>
            {{record.amount}}
        </td>
        <td>
            {{record.requestedPrice}}
        </td>
        <td>
            {{record.type}}
        </td>
    </tr> 

</table> 
</article>

</article>


