
<div class="jumbotron" >

    <h4>
        Choose to Buy or Sell Stocks
    </h4>
    <br/>

    Ticker
        <input type="text" placeholder="Enter Ticker Name" class="form-control" id="name"
       required
       [(ngModel)]="tickerInput" name="name" >
       <br/>

    Amount
    <input type="number" placeholder="Enter Amount of Stocks" max='200' min='1'  class="form-control" id="name"
       required
       [(ngModel)]="amountInput" name="name" >

       <br/>

        <button type="button"  (click)='getTickerPriceDetails("BUY")' class="btn btn-primary" >Buy</button>

        
        <button type="button" (click)='getTickerPriceDetails("SELL")' class="btn btn-danger"  >Sell</button>

        <div class=stockPrice>
            <h6>   The price of a single stock is {{price}} </h6>
         
         </div>
  

</div>

