<!-- 
  <p>ticker details works!</p>

<article>
<!-- 
 <ul>
    <li *ngFor="let record of tickerDetailsResult['price_data']" >

        {{ record['date'] |date:'dd-MM-yyyy'}}
        {{ record['price'] | currency:'EUR' }}
      
    </li> 
</ul>  -->


<table>

  <tr>
      <th>Ticker</th>
      <th>Price Data</th>
      <th>Date</th>
     
  </tr>

  <!-- <tr *ngFor="let record of tickerDetailsResult['price_data']">
      <td>
          {{record.ticker}}
      </td>
      <td>
        {{record.price}}
    </td>
      <td>
          {{record.date}}
      </td>
   
  </tr>  -->

  <tr *ngFor="let record of tickerDetailsResult; let i=index">
    <td>
        {{record.ticker}}
    </td>
    <td>
      {{record.price_data[i][0]}}
  </td>
    <td>
        {{record.price_data[i][1]}}
    </td>
 
</tr> 



</table> 


<!-- 
<ul>
    use ngFor to iterate over the results 
    <li *ngFor="let record of data['price_data']">{{record['date'] |date:'dd-MM-yyyy'}} {{record['price'] |currency:'EUR' }}</li>
</ul>

 -->

<!-- 
</article> --> 